
* {
  margin: 0;
  padding: 0;
  border: none;
  box-sizing: border-box;
}

body {
  font-family: 'Overpass', sans-serif;
  background-color: hsl(216, 12%, 8%);
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
}
button {
  font-family: 'Overpass', sans-serif;
  font-weight: 700;
}

.card1 {
  transition: all 0.25s ease-in-out;
}
.container {
  background: hsl(213, 19%, 18%);
  padding: 25px;
  border-radius: 10px;
  margin: 2rem;
  max-width: 375px;
}
.star {
  background-color: hsl(216, 12%, 8%);
  padding: 10px;
  border-radius: 50%;
}

.container h1 {
  color: white;
  padding: 10px 0;
}
.container p {
  color: hsl(217, 12%, 63%);
  line-height: 1.5;
}
.btn-container {
  width: 100%;
  padding: 20px 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.button-digits {
  padding: 20px;
  text-align: center;
  font-size: 1rem;
  border-radius: 50%;
  background-color: hsl(216, 12%, 8%);
  color:hsl(217, 12%, 63%);
 
}
.submit {
  background-color: hsl(25, 97%, 53%);
  border-radius: 16px;
  padding: 12px 15px;
  width: 100%;
  text-transform: uppercase;
  color: white;
  letter-spacing: 1.3px;
}

.card2 {
  margin: 2rem;
  display: none;
  text-align: center;
  padding: 2rem;
  max-width: 375px;
  transition: all 0.25s ease-in-out;
}

.illustration {
  display: block;
  margin: 15px auto;
}
.rating {
  padding: 10px 15px;
  color:hsl(25, 97%, 53%);
  background-color: hsl(216, 12%, 8%);
  border-radius: 16px;
  margin-bottom: 15px;
}

@media screen and (min-width: 500px){
  body {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh; 
  }
  .button-digits:hover {
    background-color: hsl(25, 97%, 53%);
    color: white;
    transition: ease-in-out 0.4s;
    cursor: pointer;

  }
  .active {
    color: white;
    background-color: hsl(217, 12%, 63%);
  }
  .submit:hover {
    color: hsl(25, 97%, 53%);
    background-color: white;
    transition: ease-in-out 0.4s;
    cursor: pointer;
  }
}